<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type="button">


<th>


</th>


<script>
    let table = document.createElement('table')
    let thead = document.createElement('thead')
    let tbody = document.createElement('tbody')
    table.appendChild(thead)
    table.appendChild(tbody)
    fuction newTable(rowCount, colCoount)
    {
        for (let i = 0; i < rowCount; i++) {
            let row = document.createElement('tr')
            for (let x = 0; x<colCoount; x++) {
                let cell = document.createElement('td')
                cell.innerHTML =
                row.appendChild(cell)
            }
        tbody.appendChild(row)
        }



    }//new table


    class Item{
        let
        title
        let
        image = null;


